@import 'vars';

body {
  background-color: $background-color;
  color: $font-color;
}

h1,h2 {
  text-align: center;
  margin-top: 20px;
}

p {
  margin-left: 30%;
}

.auth-form {
  background-color: $box-color;
  width: 300px;
  margin: auto;
  display: block;
}

input {
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

button {
  background-color: $background-color;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
}

img {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
}

a {
  text-decoration: none;
}

ul {
  display: block;
  margin-left: 25%;
  padding-bottom: 30px;
}

li {
  background-color: $box-color;
  padding: 10px;
  display: inline;
  font-size: 20px;
  margin-left: 5vw;
}

.links {
  margin-left: 30%;  
}